[submodule "operating_system"]
	path = operating_system
	url = ../linux-operating_system
	branch = main
[submodule "port"]
	path = port
	url = ../linux-opengl-land-port
	branch = main
[submodule "source"]
	path = source
	url = ../opengl-graphics3d-source
	branch = main
